.app-container{
  display: flex;
  
}
.content{
  width: 100%;
}

.sidebar{
  min-height: 800px;
}

.post-card{
  margin: 20px 50px;

}


.hastag{
  margin: 5px 8px;

}
.reactions{
  width: 100%;
  margin: 15px 0 0 0;
}

.create-post{
  width: 80%;
  margin-left: 10%;
  margin-top: 50px;
}


html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1; /* Pushes the footer to the bottom initially */
}

.footer {
  color: white;
  text-align: center;
  padding: 10px;
}

.welcome-message{
  margin: 100px 0px;
  
}
.loader-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}