.app-container{
  display: flex;
  min-height: 100vh;
  
}
.content{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1; 
}
.main-content{
  flex:1;
}

.sidebar{
  min-height: 800px;
}

.post-card{
  margin: 20px 50px;

}


.hastag{
  margin: 5px 8px;

}
.reactions{
  width: 100%;
  margin: 15px 0 0 0;
}

.create-post{
  width: 80%;
  margin-left: 10%;
  margin-top: 50px;
}

.footer {
  color: white;
  text-align: center;
  padding: 10px;
}

.welcome-message{
  margin: 100px 0px;
  
}
.loader-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}
.create-post {
  max-width: 600px;
  margin: 40px auto;
  border-radius: 12px;
  background: #fff;
}

.create-post h2 {
  font-weight: 700;
  margin-bottom: 20px;
}

.form-control {
  border-radius: 8px;
  border: 2px solid #ccc;
  transition: all 0.3s ease-in-out;
}

.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.3);
}

.btn-primary {
  background: linear-gradient(to right, #007bff, #0056b3);
  border: none;
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background: linear-gradient(to right, #0056b3, #007bff);
  transform: scale(1.02);
}
